<!DOCTYPE html>
<html>
<head>
    <title>Live Chat</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    {{> header}}

    <main class="content">
        <h2>Live Chat</h2>

        <!-- Connection status -->
	<!-- Will display a welcome message once the user is connected -->
        <p id="status">Not connected</p><br>
        
        <!-- Error, if any -->
        {{#if error}}
        	<p class="error-message">{{error}}</p>
        {{/if}}

        <!-- Live chat messages with their associated data -->
        <div id="messages">
            {{#each messages}}
                <div class="chat-message">
                    <strong style="color: {{profile_data}}">{{display_name}}</strong>
                    <span class="timestamp">{{created_at}}</span>
                    <p>{{text}}</p>
                </div>
            {{/each}}
        </div>

        <!-- Form input to output with socket.io -->
        <!-- Sends the user's message to a route which stores it in the database -->
        <form id="chatForm" class="form-auth" method="POST" action="/liveChat/send">
            <input type="text" id="messageInput" name="message" required>
            <button type="submit">Send</button>
        </form>
    </main>

    {{> footer}}

    <!-- Socket.io functionality -->
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
    <script>
        // Connect to the socket when the page loads
        const socket = io('https://cardindex.dev');

	// Show the default "Not Connected" status until the user connects,
	// then show "Welcome display_name"
        socket.on('connected', (data) => {
            document.getElementById('status').textContent = data.message;
        });

        // Receive new chat messages
	// Triggered on a new chat message being sent and is broadcast to all users
        socket.on('message', (data) => {
	    // Create a new div for each chat message, matching the website style
            const div = document.createElement('div');
            div.className = 'chat-message';

	    // Add the message content to the div
            div.innerHTML =
                '<strong>' + data.display_name + '</strong>' +
                '<span class="timestamp"> ' + data.timestamp + '</span>' +
                '<p>' + data.message + '</p>';

	    // Add the new message to the live chat (list of messages)
            document.getElementById('messages').appendChild(div);
        });
    </script>
</body>
</html>
